:{$PORT:8080} {
  root * /srv
  encode zstd gzip
  file_server

  @immutableAssets {
    path /assets/*
    path *.js
    path *.wasm
    path *.css
    path *.png
    path *.jpg
    path *.jpeg
    path *.webp
    path *.svg
    path *.ico
    path *.woff
    path *.woff2
  }
  header @immutableAssets Cache-Control "public, max-age=31536000, immutable"

  @htmlFiles path / /index.html /flutter_bootstrap.js /flutter_service_worker.js
  header @htmlFiles Cache-Control "public, max-age=0, must-revalidate"

  try_files {path} /index.html
}
